<html>
<body>
    <div>
        <h1><%= user_name %>님의 우울증 위험도는 <%= dep %>%로, <b><%= status %></b>합니다!</h1>
        <h1><%= user_name %>님께 방문하시거나 가까운 병원으로 안내해주세요.</h1>
        <h3>지난 2주간의 대화내역중 우울함이 나타난 대화 내역입니다.</h3>
        <ul>
            <% for (var i=0; i< user_text.length; i++){ %>
                <li><%= user_text[i] %></li>
            <% } %>
        </ul>
    </div>
</body>
</html>